$hover: 24;
$size: 25px;
$primary: #209e91 !default;
$info: #2dacd1 !default;
$success: #90b900 !default;
$warning: #dfb81c !default;
$danger: #e85656 !default;

@mixin styleButton($color, $borderColor) {
    background: $color;
    border-color: $borderColor;
  }
  @mixin openDropdownButton($color, $dark-color) {
   
    @include styleButton($color, lighten($primary, 20%));
    background-color: $dark-color;
    border-color: $dark-color;
  }
.form-container {
    max-height: 300px;
    overflow-y: auto;
}

h2{
    font-size: $size + $hover;
    background-color: lighten($primary, 20%)
 }

.open > .btn.dropdown-toggle {
    &.btn.btn-primary {
      @include openDropdownButton($primary, $primary)
    }
    &.btn-success {
      @include openDropdownButton($success, $success)
    }
}